<!-- MENU START -->
<nav class="navbar navbar-expand-lg bg-dark bg-gradient">
  <div class="container-fluid">
    <a class="navbar-brand text-white">Angular Blog</a>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <!-- sign IN/UP buttons start -->
      <ng-container *ngIf="!isOnline">
        <button type="button" class="btn btn-outline-success" (click)="signInModal()">Sign In</button>
        <button type="button" class="btn btn-outline-primary" (click)="signUpModal()">Sign Up</button>
      </ng-container>
      <!-- sign IN/UP buttons end -->

      <!-- add post sign out buttons start -->
      <ng-container *ngIf="isOnline">
        <button type="button" class="btn btn-outline-success" (click)="addPostModal()">Add post</button>
        <div style="margin-right: 1px;" class="btn btn-warning">{{currentUser}}</div>
        <button type="button" class="btn btn-outline-warning" (click)="signOut()">Sign Out</button>
      </ng-container>
      <!-- add post sign out buttons end -->
    </div>
  </div>
</nav>
<!-- MENU END -->

<!-- BLOG START -->
<div class="container-fluid">
  <div class="row">
    <div class="col-10 m-auto" *ngFor="let blog of blogs; index as i">
      <div class="card my-3">
        <div class="card-body">
          <!-- card content start -->
          <div class="card-content">
            <h5 class="card-title">{{blog.topic}}</h5>
            <p class="text-secondary">Posted by: {{blog.postedBy}}</p>
            <p class="card-text">{{blog.message | slice:0:200 }}<span *ngIf="blog.message.length > 200"> ...</span></p>
          </div>
          <!-- card content end -->

          <!-- card date added start -->
          <div class="date-added">
            <i class="fa-regular fa-clock"></i>
            <span class="date text-muted">{{ blog.date | date:'HH:mm, dd.MM.YYYY' }}</span>
          </div>
          <!-- card date added end -->

          <!-- card control start -->
          <div class="card-control"
            *ngIf="(isOnline && blog.postedBy == currentUser) || (isOnline && currentUser == 'admin')">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-warning" (click)="editPostModal(blog)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deletePost(blog)">Delete</button>
            </div>
          </div>
          <!-- card control end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- BLOG END -->

<!-- sign IN modal start -->
<ng-container *ngIf="signInForm">
  <div class="container-fluid custom-container">
    <div class="modal-block">
      <div class="modal-header">
        <h1 class="modal-title">Sign In</h1> <span (click)="closeWindow()">X</span>
      </div>
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email:</label>
          <input type="email" name="userEmail" class="form-control" id="exampleInputEmail1" [(ngModel)]="userEmail">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password:</label>
          <input type="password" name="userPassword" class="form-control" id="exampleInputPassword1"
            [(ngModel)]="userPassword">
          <div class="form-text" *ngIf="showMessage">Incorrect password or email.</div>
        </div>
        <div class="form-control"><button type="button" class="btn btn-secondary me-3"
            (click)="closeWindow()">Close</button>
          <button type="button" class="btn btn-success" (click)="signIn()"
            [disabled]="!userEmail || !userPassword">Submit</button>
        </div>
      </form>
    </div>
  </div>
</ng-container>
<!-- sign IN modal end -->

<!-- sign UP modal start -->
<ng-container *ngIf="signUpForm">
  <div class="container-fluid custom-container">
    <div class="modal-block">
      <div class="modal-header">
        <h1 class="modal-title">Sign Up</h1> <span (click)="closeWindow()">X</span>
      </div>
      <form>
        <div class="mb-3">
          <label for="exampleInputUser1" class="form-label">Username:</label>
          <input type="text" name="newUserName" class="form-control" id="exampleInputUser1" [(ngModel)]="newUserName">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail2" class="form-label">Email:</label>
          <input type="email" name="newUserEmail" class="form-control" id="exampleInputEmail2"
            [(ngModel)]="newUserEmail">
          <div class="form-text" *ngIf="showMessage">There is already an user with such email.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword2" class="form-label">Password:</label>
          <input type="password" name="newUserPassword" class="form-control" id="exampleInputPassword2"
            [(ngModel)]="newUserPassword">
        </div>
        <div class="form-control"><button type="button" class="btn btn-secondary me-3"
            (click)="closeWindow()">Close</button>
          <button type="button" class="btn btn-success" (click)="signUp()"
            [disabled]="!newUserName || !newUserEmail|| !newUserPassword">Submit</button>
        </div>
      </form>
    </div>
  </div>
</ng-container>
<!-- sign UP modal end -->

<!-- add post modal start -->
<ng-container *ngIf="addForm">
  <div class="container-fluid custom-container">
    <div class="modal-block">
      <div class="modal-header">
        <h1 class="modal-title">Add post</h1> <span (click)="closeWindow()">X</span>
      </div>
      <form>
        <div class="mb-3">
          <label for="exampleInputTitle1" class="form-label">Title:</label>
          <input type="text" name="postTitle" class="form-control" id="exampleInputTitle1" [(ngModel)]="postTitle">
        </div>
        <div class="mb-3">
          <label for="exampleInputText1" class="form-label">Text:</label>
          <textarea class="form-control" name="postText" id="exampleInputText1" style="height: 200px"
            [(ngModel)]="postText"></textarea>
        </div>
        <div class="form-control"><button type="button" class="btn btn-secondary me-3"
            (click)="closeWindow()">Close</button>
          <button type="button" class="btn btn-success" (click)="addPost()"
            [disabled]="!postTitle || !postText">Post</button>
        </div>
      </form>
    </div>
  </div>
</ng-container>
<!-- add post modal end -->

<!-- edit post modal start -->
<ng-container *ngIf="editForm">
  <div class="container-fluid custom-container">
    <div class="modal-block">
      <div class="modal-header">
        <h1 class="modal-title">Edit post</h1> <span (click)="closeWindow()">X</span>
      </div>
      <form>
        <div class="mb-3">
          <label for="exampleInputTitle2" class="form-label">Title:</label>
          <input type="text" name="editPostTitle" class="form-control" id="exampleInputTitle2"
            [(ngModel)]="editPostTitle">
        </div>
        <div class="mb-3">
          <label for="exampleInputText2" class="form-label">Text:</label>
          <textarea type="text" class="form-control" name="editPostText" id="exampleInputText2" style="height: 200px"
            [(ngModel)]="editPostText"></textarea>
        </div>
        <div class="form-control"><button type="button" class="btn btn-secondary me-3"
            (click)="closeWindow()">Close</button>
          <button type="button" class="btn btn-success" (click)="editPost()">Edit Post</button>
        </div>
      </form>
    </div>
  </div>
</ng-container>
<!-- edit post modal end -->